body {
    font-family: 'Arial', sans-serif;
    background-color: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    color: #333;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #6a11cb;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #2575fc;
    border-radius: 4px;
    outline: none;
    font-size: 1em;
}

input[type="radio"] {
    margin: 10px;
}

.unit-selection {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

button {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

button:hover {
    background-color: #2575fc;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #6a11cb;
}